body {
    font-family: "Segoe UI", sans-serif;
    background: #0d1117;
    color: #c9d1d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button {
    background: #ff477e;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff6fa5;
}

#message {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #ff90c2;
}
